ul {
    list-style: none;
}

h1 {
    color: red;
    text-shadow: 2px 2px black;
    margin-bottom: 200px;
}

h2 {
    color: beige;
    font-size: xx-large;
    text-transform: capitalize;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 25%;
    margin-left: 36%;
}

h2:hover {
    color: black;
    text-shadow: 1px 1px grey;
    transition-property: color, text-shadow;
    transition-duration: 3s, 1s;
}

h3 {
    color: beige;
    font-size: xx-large;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 25%;
    margin-left: 36%;
}

h3:hover {
    color: black;
    text-shadow: 1px 1px grey;
    transition-property: color, text-shadow;
    transition-duration: 3s, 1s;
}

h3:first-letter {
    text-transform:capitalize
}


body {
    background-color: beige;
    text-align: center;
}

header {
    text-align: center;
}

#search-form {
    margin: 10px;
    padding: 10px;
}

#pokemon {
    margin-right: 50px;
}

img {
    width: 750px;
    height: 750px;
    filter: contrast(0%);
    background: transparent;
}

img:hover {
    filter: contrast(100%);
    transition-property: constrast();
    transition-duration: 4s;
}

p {
    margin-bottom: 100px;
}

p#info {
    margin-top: -100px
}

