ul {
    list-style: none;
}

h1 {
    color: red;
    text-shadow: 2px 2px black;
}

h2 {
    color: beige;
    font-size: xx-large;
    text-transform: capitalize;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 25%;
    margin-left: 36%;
}

h2:hover {
    color: black;
    text-shadow: 1px 1px grey;
    transition-property: color, text-shadow;
    transition-duration: 3s, 1s;
}

h3 {
    color: beige;
    font-size: xx-large;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 25%;
    margin-left: 36%;
    text-transform: capitalize;
}

h3:hover {
    color: black;
    text-shadow: 1px 1px grey;
    transition-property: color, text-shadow;
    transition-duration: 3s, 1s;
}


body {
    background-color: beige;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

#search-form {
    margin: 10px;
    padding: 10px;
}

#pokemon {
    margin-right: 50px;
}

img {
    width: 500px;
    height: 500px;
    filter: contrast(0%);
    background: transparent;
}

img:hover {
    filter: contrast(100%);
    transition-property: constrast();
    transition-duration: 4s;
}

p {
    margin-bottom: 25px;
}

p#info {
    margin-top: 25px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}